<div class="adslist">
    <div class="col-xs-4 no-padding text-center">
        <p class="asidetitle"><%= __('ads') %></p>
    </div>
    <div class="clearfix"></div>
    <div class="aside-line"></div>
    <div id="baidu_ads">
        <script type="text/javascript">
            /*336*280 创建于 2015-02-03*/
            var cpro_id = "u1936467";
        </script>
        <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
    </div>

    <!--<div id="qj_ads">-->
        <!--<script>var qj_uid="701519";var qj_maxw=0;</script><script charset="utf-8" src="http://vip.yule8.net/js/cpv_fm_r.js"></script>-->
    <!--</div>-->
    <div class="margin-30"></div>
</div>