<div class="adslist">
    <div class="col-xs-4 no-padding text-center">
        <p class="asidetitle"><%= __('ads') %></p>
    </div>
    <div class="clearfix"></div>
    <div class="aside-line"></div>
    <div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 博客右侧固定 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:336px;height:280px"
             data-ad-client="ca-pub-1101808529197281"
             data-ad-slot="1837114381"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <script type="text/javascript">
            document.write('<a style="display:none!important" id="tanx-a-mm_51289531_5730227_19926575"></a>');
            tanx_s = document.createElement("script");
            tanx_s.type = "text/javascript";
            tanx_s.charset = "gbk";
            tanx_s.id = "tanx-s-mm_51289531_5730227_19926575";
            tanx_s.async = true;
            tanx_s.src = "http://p.tanx.com/ex?i=mm_51289531_5730227_19926575";
            tanx_h = document.getElementsByTagName("head")[0];
            if(tanx_h)tanx_h.insertBefore(tanx_s,tanx_h.firstChild);
        </script>
    </div>
    <div class="margin-30"></div>
</div>