body
  >header
    width 100%
    /*box-shadow 2px 4px 5px hsla(0,1%,1%,.2)*/
    background color-background
    color color-gray-dark
    padding 1em 0 0.8em 
    >div
      width 95%
      margin 0 auto
      position relative
      overflow hidden
      @media tablet
        width 93%
    a
      display block
      color color-gray-dark

#textlogo
  h1.site-name
    float left
    margin-right 20px
    if ShowCustomFont
      font-family font-custom-family
      font-size font-size+100
      line-height line-height
      font-smoothing()
      @media mini
        font-size font-size+140
      @media tablet
        font-size font-size+180
    else
      font-family font-default
      font-size font-size+60
      line-height line-height+0.4
      font-weight normal
      @media mini
        font-size font-size+90
      @media tablet
        font-size font-size+120
  h2.blog-motto
    float left
    padding-left 20px
    line-height line-height+2.3
    border-left 1px solid color-gray
    color color-theme
    font-size 0.7em
    font-weight normal
    @media mini
      font-size font-size
    @media tablet
      font-size font-size+10
  .search-container
    float right

.navbar
  position absolute
  width 2em
  right 0em
  top 1em
  padding 0.5em
  @media tablet
    display none

.navbutton::before
  font-family font-icon-family
  font-smoothing()
  content "\f0c9"

.navmobile::before
  padding-left 1em

header nav
  float left    
  width 100%!important
  background-color color-gray-dark
  color color-white
  font-size font-size+12.5
  margin-top 0.5em
  transition max-height 1s ease-out
  ul
    @media tablet
      float left
  ul li
    @media tablet
      float left
  ul li a
    padding 0.75em 0 0.75em 1em
    color color-white
    border-right 1px solid color-border-right
    @media tablet
      padding 0.75em 1.5em
    &:hover
      transition 0.5s color
      background saturate(darken(color-gray-dark, 25%), 10%)
      color color-teal

.shownav
  max-height 40em

.search
  padding 2.3em 0 0
  float right
  input
    float left
    /*-webkit-appearance textfield*/
    font-size 0.87em
    line-height line-height+1
    border 1px solid color-gray
    color color-gray-dark
    background color-white
  .text-input
    padding 0 0.4em
    @media tablet
      width 12em
      transition .2s width
      &:focus
        width 20em
  .search-btn
    float left
    margin-left 4px
    width 6em
    background-color color-blue
    color color-white
  label
    display none

// special for baidu zhannei search
#bdcs-search-form
  padding 2.3em 0 0
  float right
  input
    float left
    /*-webkit-appearance textfield*/
    font-size 0.87em
    line-height line-height+1
    border 1px solid color-gray
    color color-gray-dark
    background color-white
  #bdcs-search-form-input
    padding 0 0.4em
    @media tablet
      width 12em
      transition .2s width
      &:focus
        width 20em
  #bdcs-search-form-submit
    float left
    margin-left 4px
    width 6em
    background-color color-blue
    color color-white
  label
    display none